{%extends 'base.html'%}

{%block main_block%}


{%for d in data%}



<div class=" mx-auto my-4 max-w-4xl md:my-6">
    <div class="overflow-hidden rounded-xl border border-gray-100 shadow bg-white">
        <div class="grid grid-cols-1 md:grid-cols-2">
            <div class="px-5 py-6 md:border-r md:border-r-gray-200 md:px-8">
                <div class="flow-root">
                    <ul class="-my-7 divide-y divide-gray-200">
                        <li class="flex items-stretch justify-between space-x-5 py-7">
                            <div class="flex flex-1 items-stretch">
                                <div class="ml-5 flex flex-col justify-between">
                                    <div class="flex-1">
                                        <p class="text-sm font-bold text-gray-900">
                                            Invoice No : {{d.ship_obj.id}}
                                        </p>
                                        <p class="mt-1.5 text-sm font-medium text-gray-600">
                                            Total item:
                                        </p>
                                    </div>
                                </div>
                        </li>
                    </ul>
                    <div class="py-6">
                        <h2 class="mb-2 text-base font-bold text-black">
                            Received Information
                        </h2>
                        <p class="mt-3 text-xs font-medium text-gray-700">{{ d.receiver_obj.receiver_name }}</p>
                        <p class="mt-1 text-xs font-medium text-gray-700">{{ d.receiver_obj.receiver_address }}</p>
                        <p class="mt-1 text-xs font-medium text-gray-700">{{ d.receiver_obj.receiver_mobile }}</p>
                        <p class="text-xs font-medium text-gray-700"></p>
                    </div>
                    <div class="py-6">
                        <h2 class="mb-2 text-base font-bold text-black">
                            shipto Information
                        </h2>
                        <p class="mt-3 text-xs font-medium text-gray-700">{{ d.ship_obj.shipping_name }}</p>
                        <p class="mt-1 text-xs font-medium text-gray-700">{{ d.ship_obj.shipping_address }}</p>
                        <p class="mt-1 text-xs font-medium text-gray-700">{{ d.ship_obj.shipping_mobile }}</p>
                        <p class="text-xs font-medium text-gray-700"></p>
                    </div>
                </div>
            </div>
            <div class="px-5 py-6 md:px-8">
                <div class="flow-root">
                    <div class="-my-6 divide-y divide-gray-200">
                        <ul class="mt-6 space-y-3">
                            <li class="flex items-center justify-between">
                                <p class="text-sm font-medium ">Total</p>
                                <p class="text-sm font-bold ">₹{{ d.item.total_amount|default:"0" }}</p>
                            </li>
                        </ul>
                        <div class="py-6">
                            <h2 class="text-base font-bold text-black">
                                Payment Status
                            </h2>
                            <p class="text-xs font-medium text-gray-700"></p>
                        </div>
                        <div class="py-6">
                            <button type="button"
                                class="mt-4 rounded-md bg-black px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-black/80 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black">
                                <a href="{%url 'invoice' d.id %}">
                                    View Invoice
                            </button>
                            <button type="button"
                                class="mt-4 rounded-md bg-black px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-black/80 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black">
                                <a href="#">
                                    View Bill
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




{%endfor%}


{%endblock%}